  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="This is the AMP Boilerplate.">
    <meta name="theme-color" content="#3367D6">

    <meta name="amp-script-src" content="sha384-9PWSNkG2_eNWOWr6ndT6e30FSALqA_qGjusZQ1SfoHGVpkA3VDhnYFh6zppNvfHz">

    <!--
    <m eta ht tp-equi v="Con tent-T ype" con tent="te xt/plai n">    
    <meta http-equiv="Access-Control-Allow-Credentials" content="true">    
    <meta http-equiv="Access-Control-Allow-Headers" content="Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token">    
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Access-Control-Allow-Methods" content="POST, GET, OPTIONS">
    <meta http-equiv="AMP-Access-Control-Allow-Source-Origin" content="*">
    <meta http-equiv="Access-Control-Expose-Headers" content="AMP-Access-Control-Allow-Source-Origin">
    -->
    
    <link rel="manifest" href="/html-form-file-io/manifest.json">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-fx-collection" src="https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>
    <style amp-custom>
        body {
            background-color: #222325;
            font-family: Arial, Helvetica, sans-serif;
            color: whitesmoke;
        }
        h1 {
            font-size: 2em;
            text-align: center;
            margin: 10px;
            font-size: 3em;
            opacity: 1;
            text-shadow: 2px 2px 4px #000000;
        }
        h2 {
            font-size: 2em;
            text-align: center;
            margin: 10px;
            font-size: 3em;
            text-shadow: 2px 2px 4px #000000;
        }
        .lineup  {
            opacity: .9;
            background-color: #222325;
            width: 90%;
        }
        .hero {
            width: 100%;
            overflow: scroll;
            position: relative;
            text-align: center;
            height: 100vh;
            display: flex;
            justify-content: center;
        } 
        .center {
            display: grid;
            align-content: center;
        }
        td a {
            text-decoration: none;
        }
        a {
            color: whitesmoke;
            font-size: 2em;
            text-align: center;
        }
        th.top {
            text-align: center;
        } 
        th.side {
            text-align: right;
        }        
        th, td {
            padding: 15px;
            display: block;
        }
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="canonical" href=".">
    <title>Progressive Web AMP</title>
  </head>
  <body>
  <p>
Try out a combination of interest in a browser of choice.  Try to
<ul>
<li>open context menu (e.g., with right-click or ctrl+click), and then Save-Link-As</li>
<li>open in the same window/tab (with click) or in a new window/tab (with alt+click)</li>
<li>some combinations will download immediately</li>
<li>otherwise, you can then Save-Page-As</li>
</ul>
</p>
<p>
Some combinations in some browsers will be less usable, requiring subsequent user copy/move of local operating system files -- though awkward, this may be correct behavior by-the-spec;
or be unusable or even fail.  I've seen these: 
<ul>
<li>fetch not tried through service worker, then failure to find resource at amppwa.app site</li>
<li>no user choice of saved filename or directory location</li>
<li>.html imposed as file extension on save</li>
<li>needed additional step of opening a new tab or window to get desired result</li>
</ul>
</p>

    <!-- amp-list
      width="auto"
      height="100"
      layout="fixed-height"
      src='javascript:huh();'
    >
      <template type="amp-mustache">
        <div class="url-entry">
          <a href="{{url}}">{{title}}</a>
        </div>
      </template>
    </amp-list -->
    
    <!--amp-script id="dataFunctions" script="local-script"><br/></amp-script>
    <script id="local-script" type="text/plain" target="amp-script">
      function getRemoteData() {
        return fetch('https://amppwa.app/html-form-file-io/datastore/index.json')
          .then(resp => resp.json())
          // .then(transformData)
      }
      exportFunction('getRemoteData', getRemoteData);
    </script-->
    <!-- "exported-functions" is the <amp-script> id, and "getRemoteData" corresponds to the exported function. -->
    
    <!--amp-list
      credentials="include"
      id="amp-list"
      width="auto"
      height="100"
      layout="fixed-height"
      src="amp-script:dataFunctions.getRemoteData"
    >
      <template type="amp-mustache">
        <div class="url-entry">
          <a href="{{url}}">{{title}}</a>
        </div>
      </template>
  </amp-list-->
  <!-- src="https://amppwa.app/html-form-file-io/datastore/index.json" sw doesn't get to see, so 404 from actual server
      src="amp-script:dataFunctions.getRemoteData"
   -->
    
    <amp-script width="200" height="100" script="hello-world">
      <ul id='list'></ul>
    </amp-script>
    <script id="hello-world" type="text/plain" target="amp-script">
      const list = document.querySelector('ul#list');                   
      const list = document.querySelector('ul#list');
      for (let i = 0; i < 3; i +=1) {
        const li = document.createElement('li');
        li.textContent = 'xxx';
        list.appendChild(li);
        console.log('li=' + li);
      }
      console.log('list=', list);      
    </script>    
    
    <div class="hero">
        <amp-img layout="fill"
        height="2932" 
        width="3909"
        media="(min-width: 650px)"
        src="images/lyghtning.jpg"></amp-img>
        <amp-img layout="fill"
        height="2926" 
        width="1879"
        media="(max-width: 649px)"
        src="images/lyghtning-mobile.jpg"></amp-img>
        <div class="lineup">
            <h1>download comparisons</h1>
            <amp-img layout="intrinsic"
            height="70" 
            width="70"
            src="images/amplogo.png"></amp-img>
            <div class="center">

<table>
<tr>
<th/>
<th colspan='5' style='text-align: center;'>download attribute</th>
</tr>
<tr>
<th class='side' style='white-space:no-wrap;'>content&#8209;disposition&nbsp;header</th>
<th class='top'>none</th>
<th class='top'>download</th>
<th class='top'>download=""</th>
<th class='top'>download="a.txt"</th>
<th class='top'>download="b.txt"</th>
</tr>
<tr>
<th class='side'>none</th>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}' download>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}' download=''>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}' download='a.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}' download='b.txt'>{{title}}</a></li>{{/items}}</ul></td>
</tr>
<tr>
<th class='side'>attachment</th>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment' download>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment' download=''>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment' download='a.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment' download='b.txt'>{{title}}</a></li>{{/items}}</ul></td>
</tr>
<tr>
<th class='side'>attachment; filename=""</th>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename='>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=' download>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=' download=''>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=' download='a.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=' download='b.txt'>{{title}}</a></li>{{/items}}</ul></td>
</tr>
<tr>
<th class='side'>attachment; filename="a.txt"</th>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=a.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=a.txt' download>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=a.txt' download=''>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=a.txt' download='a.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=a.txt' download='b.txt'>{{title}}</a></li>{{/items}}</ul></td>
</tr>
<tr>
<th class='side'>attachment; filename="b.txt"</th>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=b.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=b.txt' download=>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=b.txt' download=''>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=b.txt' download='a.txt'>{{title}}</a></li>{{/items}}</ul></td>
<td><ul list-style-type='none'>{{#items}}<li><a href='{{url}}?disposition=attachment; filename=b.txt' download='b.txt'>{{title}}</a></li>{{/items}}</ul></td>
</tr>
</table>
</div>
        </div>     
    </div>
  </body>
</html>
